// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$light: #EDF5E1;
$light-green: #8EE4AF;
$green: #5CDB95;
$forest: #379683;
$dark-green: #112D32;
$dark-blue: #05386B;
$dark-brown: #4F4A41;
$light-brown: #6E6658;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;