@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';
@import './base/partials';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/hero';
@import './sections/about';
@import './sections/skills';

@import './vendor/css/font-awesome.min.css';